@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-LT-W02-55-Roman.eot?#iefix');
    src: url('../fonts/Avenir-LT-W02-55-Roman.eot?#iefix') format('eot'),
    url('../fonts/Avenir-LT-W02-55-Roman.woff') format('woff'),
    url('../fonts/Avenir-LT-W02-55-Roman.ttf') format('truetype'),
    url('../fonts/Avenir-LT-W02-55-Roman.svg#Avenir-LT-W02-55-Roman') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix');
    src: url('../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix') format('eot'),
    url('../fonts/Avenir-LT-W02-85-Heavy.woff') format('woff'),
    url('../fonts/Avenir-LT-W02-85-Heavy.ttf') format('truetype'),
    url('../fonts/Avenir-LT-W02-85-Heavy.svg#Avenir-LT-W02-85-Heavy') format('svg');
    font-style: normal;
    font-weight: 700;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Avenir, "Helvetica Neue", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 42px;
    margin: 0;
}

h2 {
    margin: 10px;
    font-size: 24px;
}

h3 {
    margin: 10px 0;
    color: #6D7680;
    font-size: 20px;
    font-weight: normal;
}

.header {
    height: 85px;
    padding: 17px 20px 20px 212px;
    border-top: 8px solid #131C28;
    border-bottom: 1px solid #E0E6ED;

    color: #94A1AD;
    font-size: 16px;
    line-height: 40px;
    text-align: right;

    background-color: #FCFCFD;
    background-image: url(../assets/logo.svg);
    background-repeat: no-repeat;
    background-position: 20px 17px;
    background-size: 172px 40px;
}

.main {
    text-align: center;
}

.qr {
    position: absolute;
    top: 6px;
    right: 0;
    width: 80px;
}
.page-1 {padding-top: 65px;}
.page-2 {padding-top: 55px;}
.page-3 {margin-top: 107px;}

.page-3 h1 {
    padding-top: 92px;
    background-image: url(../assets/rainbow.svg);
    background-repeat: no-repeat;
    background-position: center top;
}

.sentiments {
    margin-top: 35px;
    font-size: 0;
}

.sentiment {
    display: inline-block;
    width: 195px;
    height: 195px;
    margin: 25px 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.sentiment-happy {background-image: url(../assets/happy.svg);}
.sentiment-neutral {background-image: url(../assets/neutral.svg);}
.sentiment-sad {background-image: url(../assets/sad.svg);}

.button-group {
    width: 785px;
    margin: 40px auto;
    font-size: 0;
}

.button {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}

.button input {
    display: none;
}

.button-label {
    display: block;
    height: 66px;
    background-color: #FCFCFD;
    border: 2px solid #CCD8E2;
    box-shadow: 0 1px 1px 0 rgba(20,56,93,0.05);
    border-radius: 5px;
    padding: 21px 0;
    color: #6D7680;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    transition: .2s all;
}

.button-large {
    padding: 15px;
}

.button-small {
    padding: 15px 10px;
}

.button-large .button-label {
    width: 127px;
}

.button-small .button-label {
    width: 66px;
}

input:checked ~ .button-label {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0095FF;
    border-color: rgba(0,0,0,0.10);
}

@media only screen and (max-width: 960px) {
    .button-group {
        width: 720px;
    }

    .button {
        padding: 7px;
    }

    .button-large {
        padding: 10px;
    }

    .button-small {
        padding: 5px;
    }

    .button-large .button-label {
        width: 120px;
    }
}

/* Let's support all those nonsense huge iPhones! */
@media only screen and (max-width: 736px) {
    body {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        height: 45px;
        line-height: 45px;
        margin: 0;
        padding: 0 15px;

        border-top: 1px solid #C9D5E0;
        border-bottom: 1px solid #C9D5E0;

        text-align: left;
        font-size: 14px;
    }

    h3 {
        margin: 4px 0;
    }

    .header {
        flex: 0 0 auto;
        height: 70px;
        font-size: 0;
        background-size: 129px 30px;
        background-position: center 17px;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .page-1,
    .page-2,
    .page-3 {
        padding-top: 20px;
    }

    .page-3 {
        justify-content: center;
    }

    .page-3 h1,
    .page-3 h3 {
        flex: 0 0 auto;
    }

    .sentiments {
        margin-top: 18px;
    }

    .sentiment {
        display: block;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        margin-bottom: 0;
        overflow: hidden;
    }

    .buttons {
        flex: 1 1 auto;
        overflow: auto;
        background-color: #FCFCFD;
    }

    .button-group.invisible {display: none;}

    .button-group .button {
        display: block;
        padding: 0;
    }

    .button-group .button-label {
        position: relative;
        width: 100%;
        height: 40px;
        padding: 0 15px;

        border: none;
        border-radius: 0;
        border-bottom: 1px solid #C9D5E0;

        color: #464E56;
        font-size: 14px;
        line-height: 40px;
        text-align: left;
    }

    .button-label:after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 14px;
        right: 20px;
        width: 13px;
        height: 10px;
        background-image: url(../assets/check.svg);
        opacity: 0;
        transition: .2s all;
    }

    input:checked ~ .button-label {
        padding-right: 63px;
        border-bottom: 1px solid #C9D5E0;
        color: #0095FF;
        background-color: transparent;
    }

    input:checked ~ .button-label:after {
        opacity: 1;
    }
}
